@import '../node_modules/bootstrap/scss/bootstrap.scss';

$primary: rgb(55, 64, 215);
$link-color: rgb(0, 0, 156);
$hover-color: rgb(224, 225, 240);
$secondary-hover-color: rgb(243, 243, 243);
$footer-color: rgb(225, 225, 225);

//TODO Create breakpoints for icons in bar
@mixin icons-style($font-size, $padding-value) {
    padding: $padding-value;
    font-size: $font-size;
    color: black;
    text-decoration: none;
    &:hover {
        background-color: $hover-color;
        border-radius: 8px;
        color: $primary;
    }
}

* {
    box-sizing: border-box;
}

.bg-footer {
    background-color: $footer-color;
}

.icons-style {
    @include icons-style(1.875rem, 0.625rem);
}

.icons-style-md {
    @include icons-style(1.5rem, 0.5rem);
}

.icons-style-sm {
    @include icons-style(1rem, 0.25rem);
}

.circle-profile-picture {
    border-radius: 50%;
    &:hover {
        box-shadow: 0 0 0 8px rgba(23, 23, 23, 0.05);
    }
}

.hyperlink {
    color: $primary;
    &--nohover {
        color: $primary;
        text-decoration: none;
        font-size: 0.8rem;
    }
    &--footer {
        color: $primary;
        text-decoration: none;
    }
    &:hover {
        color: $link-color;
    }
}

h4,
h2,
h1,
h3,
h5,
h6 {
    margin-bottom: 0;
}

.menu {
    padding-left: 0;
    &__item {
        list-style-type: none;
        &__content {
            color: rgb(56, 56, 56);
            display: flex;
            font-size: 1.3rem;
            padding: 0.5rem 0rem;
            text-decoration: none;
            gap: 0.8rem;

            &--tag {
                color: rgb(56, 56, 56);
                display: flex;
                font-size: 1.2rem;
                margin: 0;
                padding: 0.5rem 0.7rem;
                text-decoration: none;

                &:hover {
                    background-color: rgb(224, 225, 240);
                    border-radius: 0.3rem;
                    color: rgb(50, 57, 169);
                    text-decoration: underline;
                }
            }

            & img {
                height: 25px;
                width: 25px;
                //padding-right: 1rem;
            }
            &:hover {
                background-color: rgb(224, 225, 240);
                border-radius: 0.3rem;
                color: rgb(50, 57, 169);
                text-decoration: underline;
            }
        }
    }
}

.navbar {
    border-bottom: solid 1px gray;
    height: 3.5rem;
    padding: 0;
    .search-bar {
        align-items: center;
        height: 2.438rem;
        background-color: transparent;
        border-radius: 8px;
        outline: solid 1px rgb(120, 120, 120);
        display: flex;
        justify-content: space-between;
        //align-items: center;
        overflow: hidden;
        &:hover {
            outline: solid 2px $primary;
        }
        & input {
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            outline: none;
            padding: 0;
            &::placeholder {
                padding: 20px;
                font-size: 1.2rem;
                color: rgb(135, 135, 135);
            }
        }
    }
}

.hamburger {
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding: 0;
    &__item {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
    }
}

.footer-menu {
    &__list {
        &:not(:first-of-type) {
            &::before {
                content: '·';
                display: inline;
                font-size: 1.3rem;
            }
        }
    }
}

.cards-container {
    & .card {
        &:not(:first-of-type) {
            & .card-img-top {
                display: none;
            }
        }
    }
}

.btn-outline-purple {
    @include button-outline-variant($primary, color-contrast($primary, 3%));
    height: 2.5rem;
    width: 7.455rem;
    &:hover {
        text-decoration: underline;
    }
}

.main-menu {
    &__item {
        &__content {
            color: black;
            font-size: 1.125rem;
            &:hover {
                background-color: white;
                color: $primary;
            }
        }
    }
}

.card {
    .card-title {
        &__hash {
            text-decoration: none;
            font-weight: bold;
            color: black;
            &:hover {
                color: $primary;
            }
        }
    }
    .list-group-item {
        &:hover .list-group-item--title {
            color: $primary;
        }

        &--title {
            font-size: 1rem;
        }
        &--subtitle {
            font-size: 0.875rem;
        }
        &--new {
            display: inline;
            padding: 0.063rem;
            font-size: 0.875rem;
            color: brown;
            background-color: orange;
        }
    }
    .card-link-container {
        &:hover .card-link-container__item {
            color: $primary;
        }
        &__item {
            color: black;
            text-decoration: none;
        }
    }
}
